

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 60;
    padding: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 500px;
}

h2 .h{
    margin-top: 0;
}


.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="text"],
input[type="Carrera"],
button {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #275360;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #519eb6;
}

.mensaje-exito {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 10px;
    border-radius: 5px;
}

.oculto {
    display: none;
}



